{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <div class="float-end">
        <button type="submit" form="form-auto-agent" class="btn btn-primary"><i class="fa-solid fa-save"></i> {{ button_save }}</button>
        <a href="{{ cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i> {{ button_cancel }}</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}</div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
    {% endif %}

    <div class="card">
      <div class="card-body">
        <form id="form-auto-agent" action="{{ action }}" method="post">
          <div class="mb-3">
            <label for="input-api-url" class="form-label">{{ entry_api_url }}</label>
            <input type="text" name="module_auto_agent_api_url" value="{{ module_auto_agent_api_url }}" id="input-api-url" class="form-control"/>
          </div>

          <div class="mb-3">
            <label for="input-api-key" class="form-label">{{ entry_api_key }}</label>
            <input type="text" name="module_auto_agent_api_key" value="{{ module_auto_agent_api_key }}" id="input-api-key" class="form-control"/>
          </div>

          <div class="mb-3">
            <label for="input-status" class="form-label">{{ entry_status }}</label>
            <select name="module_auto_agent_status" id="input-status" class="form-select">
              <option value="1" {% if module_auto_agent_status %}selected{% endif %}>Enabled</option>
              <option value="0" {% if not module_auto_agent_status %}selected{% endif %}>Disabled</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}